# BASIC PROJECT SETTINGS:
SECRET=
DEBUG=
# must be comma seperated
ALLOWED_HOSTS=

# DB SETTINGS:

# DB_NAME: The name of the database to connect to.
# It should match the name of the database created in your database server.
DB_NAME=

# DB_USER: The username for the database connection.
# It should have the necessary permissions to access the database.
DB_USER=

# DB_PASSWORD: The password for the database connection.
# It should be kept confidential and should not be stored in plain text.
DB_PASSWORD=

# DB_HOST: The host/IP address of the database server.
# It should be set according to your database server's location.
DB_HOST=

# DB_PORT: The port number of the database server.
# It should be set according to your database server's configuration.
DB_PORT=
